.events__title_page-type_main-message {
  letter-spacing: -0.01em;
}


@media screen and (max-width: 700px) {
  .events__title_page-type_main-message {
      letter-spacing: 0;
      margin: 20px auto;
      line-height: 36px;
      font-size: 32px;
  }
}

@media screen and (max-width: 450px) {
  .events__title_page-type_main-message {
    max-width: 320px;
  }
}
